**/.*
**/*.log
**/*.bak
**/*.swp
**/tmp/*
**/vendor/*
**/*.test
**/test/*
**/__tests__/*
**/*.md
.git
.gitignore
.dockerignore
Dockerfile.serverd
Dockerfile.serverd.dev
.env
.DS_Store
LICENSE
docker-compose.yml
/tmp